.myfont{
    font-family: 'myfont';
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #b00;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #000000;
}

.navbar-default {
    background-color: #000000;
    border-color: #000000;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
    }

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.logo {
    /*ackground-image: url("../img/logo.png");*/
    height: 0px;
    width: auto;
    margin-top: -5px;
}
.logo img {
    height: 33px;
    width: 133px;
}

.navbar-nav{width:40%;}



#custom-search-input {
    margin:0;
    margin-top: 8px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#000000;
}

.search-query:focus + button {
    z-index: 3;
}

.col-md-12 {
    width: 40%;
}

.panel-default > .panel-heading {
    background-color: #000000;
    border-color: #ddd;
    color: #FFFFFF;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 3px 10px;
}

.main-container {
    margin-top: 50px;
}

.header-text{
    background-color: #000000;
    color: #FFFFFF;
    padding: 6px 10px;
    font-size: 22px;
    border-radius: 4px;
}

.item-border{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    display: table;
    width: 100%;

}

.item-border2{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px 0px;

}
.item-product{
    margin-top: 6px;
}
.margin-right-left{
    padding-left:2px;padding-right:2px;
}

.product img{
    width: 550px;
    padding: 0px 0px -10px -5px;
}
.item-detail{
    margin: 10px 15px;
}

.item-name{
    font-size: 20px;
    font-weight: bold;
    margin: 0px 15px;
}

.item-price{
    margin: 10px 15px;
    color:#b00 ;
}

.booking{
    display: block;
    background-color:#b00;
    color: white;
    height: 133px;
    padding: 40px 20px;
    text-align: center;
    font-size: 20px;
}

.booking:hover{
    color:yellow;
    text-decoration: none;
}

.owner img{
    margin-right:10px;
    width: 50px;
    height: auto;
}

.owner{
    clear:both;
    display: table;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 10px 5px 10px;

}

.member-name {
    font-size: 15px;
    font-weight: bold;
    color:#777;
}

.member-name span{
    display: block;
}

.member-num {
    font-size: 13px;
    font-weight: bold;
    color:#777;
}

.footer{
    width: 100%;
    height:60px;
    padding: 12px;
    text-align: center;
    font-size: 20px;
}

.item-search{
    border: 1px solid #ccc;
    display: table;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    width: 100%;
}

.select-search{
    margin-top: 3px;
    font-size: 20px;
    font-weight: bold;
}

.select_box_1{
    margin-top: 2px;
    font-size: 18px;
    width: 100%;
}

.custom-select{
    width: 100%;
}

.search-button{
    display: block;
    background-color:#b00;
    color: white;
    height: 55px;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
}

.search-button:hover{
    color:yellow;
    text-decoration: none;
}

.header-text-register {
    background-color: #000000;
    color: #FFFFFF;
    padding: 6px 10px;
    font-size: 22px;
    border-radius: 4px;
    display: block;
}

.register-head{
    font-size: 32px;
    font-weight: bold;
    color: #777;
}

.form-group >.form-control{
    font-size: 22px;
    color: #777;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.container-register{
    margin-top: 30px;
    margin-bottom: 30px;
}

.agree-checkbox{
    font-size: 18px;
    color: #777;
    margin-top: auto;
}

.thm-btn.social-btn {
    background: #3b5997 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 30px;
    margin: auto;
    padding: 3px 20px;
    width: 240px;
    text-align: center;
    font-size: 22px;
}

.thm-btn.social-btn:hover{
    color:#d9edf7;
    text-decoration: none;
}

.register-text{
    font-size: 23px;
    color: #777;
    text-align: center;
}

.container-login{
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-head{
    font-size: 32px;
    font-weight: bold;
    color: #777;
}

.btn{
    font-size: 24px;
}

.btn-text{
    font-size: 18px;
}

.item-border>.item-image img , .item-border2>.item-image img{
    width: 200px;
}


/*********************************************
        		Theme Elements
*********************************************/

.product1{
    border: 1px solid #dddddd;
    height: 420px;
    width: 550px;
}

.product1 img{
    width: 100%;
    height: 100%;
}


/*********************************************
					VIEW
*********************************************/

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container1 {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    margin: 0 auto;
}

/*********************************************
				ITEM
*********************************************/

.service1-items {
    position: relative;
    height: 360px;
}

.service1-item {
    height: 140px;
    width: 100%;
    display: block;
    position: relative;
    border: 1px solid #DDD;
}
.image-detail{
    border: 1px solid #ccc;
    width: 746px;
    height: 468px;
}

.service1-item > img {
    max-width: 160px;
    display: block;
    margin: 0 auto;
    margin-top: 1.5px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.product-con{
    margin: 0 auto;
    display: block;
}

.product-name{
    font-size: 44px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 25px;
}

.owner1 img{
    width: 90px;
    height: auto;
}

.owner1{
    clear:both;
    display: table;
    width: 100%;
    padding: 20px 20px 13px 20px;
    border: 1px solid #ccc;

}

.member-name1 {
    font-size: 20px;
    font-weight: bold;
    color:#777;
}

.member-name1 span{
    display: block;
    padding:  30px 0 0 118px
}

.member-post{
    font-size: 24px;
    font-weight: bold;
    color:#777;
}

.member-post1{
    font-size: 15px;
    font-weight: bold;
    color:#777;
}

.product-nav >.nav{
    font-weight: bold;
    font-size: 24px;
}

.item-detail1{
    font-size: 20px;
    margin-top: 20px;
}

.lbl{
    font-weight: bold;
    font-size: 20px;
}

.container1{
    margin-top: 20px;
    margin-left: 20px;
    display: table;
}

.image-detail1{
    width: 159px;
    height: 134px;
}

.image-container{
    margin-top: 20px;
}

.margin-top10{
    margin-top: 5px;
}

.display-block img{
    display: block;
    margin: 0 auto;
}

.font-size{
    font-size: 14px;
}

.margin{
    display: block;
    font-size: 20px;
    height: 55px;
    margin-top: 15px;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.margin-top5{
    margin-top: 10px;
}





.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad{
    margin-top:20px;
}

.input-block-level{
    border:2px solid #456879;
    border-radius:10px;
    height: 28px;
    width: 250px;
}

.background-colorred{
    background-color: #b00;
    width: 150px;
}

.background-colorred:hover{
    background-color: #000;
}

.panel{
    border: 1px solid #ccc;
}

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container-fluid{
    max-width: 1140px;
    margin: 0 auto;
}

.font-color-red{
    color: #b00;
    font-weight: bold;
}

.col-lg-11 {
    width: 93%;
}

.margin-top0{
    margin-top: 0;
}


.sweet-alert h2{font-family: 'myfont' !important;font-size: 22px !important ;}






